<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/duration/{{ symptom_keyword }}">
        <h3>How long has it been occurring ?</h3><br>
        <select name="duration" id="duration">
            {% for num in range(1, 101) %}
            <option value="{{ num }}">{{ num }}</option>
            {% endfor %}
        </select>
        <!-- <input type="number" name="duration" id="duration"> -->
        <!-- <input type="" name="" id=""> -->
    </form>
</body>
</html>