<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <div class="loader"></div>
    <form action="/user/intensity/{{ symptom_keyword }}" method='POST'>
    <h3>Is your {{symptom_keyword}} getting better or worse ?</h3>
    <input type='radio' id='getting_better' name="intensity" value="getting_better"></input>
    <label for='getting_better'>Getting Better</label><br>
    <input type='radio' id='staying_the_same' name="intensity" value="staying_the_same"></input>
    <label for='staying_the_Same'>Staying The Same</label><br>
    <input type='radio' id='getting_worse' name="intensity" value="getting_worse"></input>
    <label for='getting_worse'>Getting Worse</label><br>
    <button type="submit" id="submit">Next</button>
    </form>    
</body>
</html>
<html>