<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/medfc logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>MedFC | check health</title>
    <script>
        function filterSymptoms() {
            const searchValue = document.getElementById('symptom_search').value.toLowerCase();
            const symptomOptions = document.querySelectorAll('.symptom-option');

            if (searchValue === "") {
                symptomOptions.forEach(option => {
                    option.style.display = 'none';
                });
            } else {
                const matches = [];
                symptomOptions.forEach(option => {
                    const label = option.querySelector('label').textContent.toLowerCase();
                    if (label.includes(searchValue)) {
                        matches.push(option);
                    }
                    option.style.display = 'none';
                });
                matches.slice(0, 5).forEach(match => {
                    match.style.display = 'flex';
                });
            }
        }

        function showNextQuestion(index) {
            const questions = document.querySelectorAll('.question-container');
            questions[index].style.display = 'none';
            if (index + 1 < questions.length) {
                questions[index + 1].style.display = 'block';
            } else {
                document.getElementById('submit-button').style.display = 'block';
            }
        }

        function submitForm(event) {
            event.preventDefault();
            document.getElementById('dynamic-form').submit();
        }
    </script>
</head>
<body>
    <header>
        <div class="row pt-3">
            <div class="col">
                <img src="{{url_for('static', filename='images/medfc logo.png')}}" alt="medfc-logo" style="height: 50px; width: auto; padding-left: 30px;">
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="{{url_for('user.home')}}"><i class="fa fa-home fa-2x"></i></a>
            </div>
        </div>
        <hr>
    </header>
    <div class="mainContainer">
        <div class="container container-sm container-md p-5 my-5">
            <p class="importantNote">
                This tool is not a substitute for professional medical advice, diagnosis, or treatment.
                If you are experiencing a life-threatening emergency that requires immediate attention 
                please call 911 or the number for your local emergency service.
            </p>
        </div>

        <div class="text-start">
            <h2>Use our symptom checker to learn why you’re not feeling well.</h2>
        </div>
        <div class="mt-4 mb-4">
            <h6>
                Welcome to MedForecast's symptom checker.
                Depending on your most prominent symptom, the number of questions may vary
                for determining a good diagnosis.
            </h6>
        </div>
        <div id="mainFeature">
            <form class="formContainer" action="{{ url_for('user.symptom') }}" method="post">
                <div class="d-flex align-items-start justify-content-start flex-column text-start">
                    <img src="{{ url_for('static', filename='images/medfc icon.png') }}" alt="medfc-icon" style="height: 30px; width: auto;"><br>
                    <label for="symptom_search" style="font-size: larger;">Which symptom bothers you most?</label><br>
                </div>
                <input type="text" name="symptom_search" id="symptom_search" onkeyup="filterSymptoms()" autocomplete="off" placeholder="Enter your pressing symptom" required> 
                <div id="symptom_options">
                    {% if columns_mappings %}
                        {% for orig_column, column in columns_mappings.items() %}
                            <div class="symptom-option" style="display: none;">
                                <input type="radio" id="{{ orig_column }}" name="symptom" value="{{ orig_column }}">
                                <label for="{{ orig_column }}">{{ column }}</label><br>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="sButton mt-4">Submit</button>
            </form>
        </div>

        {% if user_specific_questions %}
        <form id="dynamic-form" action="{{ url_for('user.process', symptom=primary_column) }}" method="post" onsubmit="submitForm(event)">
            <h3>Do you experience any of the symptoms to be asked?</h3>
            <div id="questionsContainer">
                {% for question in user_specific_questions %}
                    <div class="question-container" style="display: none;">
                        <h3>Do you experience {{ question }}?</h3>
                        <input type="radio" name="question_{{ loop.index }}" id="yes_{{ loop.index }}" value="yes">
                        <label for="yes_{{ loop.index }}">Yes</label>
                        <input type="radio" name="question_{{ loop.index }}" id="no_{{ loop.index }}" value="no">
                        <label for="no_{{ loop.index }}">No</label>
                        <div>
                            <button type="button" id="nextButton_{{loop.index}}" onclick="showNextQuestion({{loop.index}})">Next</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="submit-button" style="display: none;">
                <button type="submit">Submit</button>
            </div>
        </form>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const questions = document.querySelectorAll('.question-container');
            if (questions.length > 0) {
                questions[0].style.display = 'block';
                questions[questions.length - 1].querySelector('button').textContent = 'Submit';
                questions[questions.length - 1].querySelector('button').onclick = submitForm;
            }
        });
    </script>
</body>
</html>
