<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/medfc logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>MedFC | check health</title>
    <script>
        function filterSymptoms() {
            const searchValue = document.getElementById('symptom_search').value.toLowerCase();
            const symptomOptions = document.querySelectorAll('.symptom-option');

            if (searchValue === "") {
                symptomOptions.forEach(option => {
                    option.style.display = 'none';
                });
            } else {
                const matches = [];
                symptomOptions.forEach(option => {
                    const label = option.querySelector('label').textContent.toLowerCase();
                    if (label.includes(searchValue)) {
                        matches.push(option);
                    }
                    option.style.display = 'none';
                });
        
                matches.slice(0, 5).forEach(match => {
                    match.style.display = 'flex';
                });
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const symptomOptions = document.querySelectorAll('.symptom-option');
            symptomOptions.forEach(option => {
                option.addEventListener('click', function() {
                    symptomOptions.forEach(opt => opt.classList.remove('selected'));
                    this.classList.add('selected');
                    this.querySelector('input[type="radio"]').checked = true;
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const radioContainers = document.querySelectorAll('.radio-container');

            radioContainers.forEach(container => {
                container.addEventListener('click', function() {
                    // Deselect all radio buttons in the current question container
                    const questionContainer = this.closest('.question-container');
                    const allRadiosInQuestion = questionContainer.querySelectorAll('input[type="radio"]');
                    allRadiosInQuestion.forEach(radio => {
                        radio.closest('.radio-container').classList.remove('selected');
                    });

                    // Select the clicked radio button
                    const radio = this.querySelector('input[type="radio"]');
                    radio.checked = true;
                    this.classList.add('selected');
                });
            });
        });



        function showNextQuestion(index) {
            const questions = document.querySelectorAll('.question-container');
            
            prevNext = document.getElementById('nextButton_' + (index))
            // return
            if (prevNext){
                questions[index].style.display = 'block';
                questions[index].scrollIntoView({behavior: "smooth"})
                prevNext.style.display = 'none';
            } else {
                questions[index].style.display = 'block';
            
       
            }
        }

        function submitForm(event) {
            event.preventDefault();
            document.getElementById('dynamic-form').submit();
        }

    </script>
</head>
<body>
    <header class="navbar-expand-sm bg-light fixed-top">
        <div class="row pt-3">
            <div class="col">
                <img src="{{url_for('static', filename='images/medfc logo.png')}}" alt="medfc-logo" style="height: 50px; width: auto; padding-left: 30px;">
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="{{url_for('user.home')}}"><i class="fa fa-home fa-2x"></i></a>
            </div>
        </div>
    </header>
    <div class="mainContainer">
        <div class="container container-sm container-md p-5 my-5">
            <p class="importantNote">
                This tool is not a substitute for professional medical advice, diagnosis, or treatment.
                If you are experiencing a life-threatening emergency that requires immediate attention 
                please call 911 or the number for your local emergency service.
            </p>
        </div>

        <div class="text-start">
            <h2>Use our symptom checker to learn why you’re not feeling well.</h2>
        </div>
        <div class="mt-4 mb-4">
            <h6>
                Welcome to MedForecast's symptom checker.
                Depending on your most prominent symptom, the number of questions may vary
                for determining a good diagnosis.
            </h6>
        </div>
        {% if columns_mappings %}
        <div id="mainFeature">
            <form class="formContainer" action="{{ url_for('user.symptom') }}" method="post">
                <div class="d-flex align-items-start justify-content-start flex-column text-start">
                    <img src="{{ url_for('static', filename='images/medfc icon.png') }}" alt="medfc-icon" style="height: 30px; width: auto;"><br>
                    <label for="symptom_search" style="font-size: larger;"><b>Which symptom bothers you most?</b></label><br>
                </div>
                <input type="text" name="symptom_search" id="symptom_search" onkeyup="filterSymptoms()" autocomplete="off" placeholder="Enter your pressing symptom" required> 
                <div id="symptom_options">
                        {% for orig_column, column in columns_mappings.items() %}
                            <div class="symptom-option mt-3" style="display: none;">
                                <input type="radio" id="{{ orig_column }}" name="symptom" value="{{ orig_column }}">
                                <label for="{{ orig_column }}">{{ column }}</label><br>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="sButton mt-4 mb-3">Submit</button>
                </form>
        </div>
        {% endif %}

        {% if user_specific_questions %}
        <div class="d-flex align-items-start justify-content-start flex-column text-start">
            <img src="{{ url_for('static', filename='images/medfc icon.png') }}" alt="medfc-icon" style="height: 30px; width: auto;"><br>
            <label for="symptom_search" style="font-size: larger;"><b>Which symptom bothers you most?</b></label><br>
        </div>
        <div class="container d-flex justify-content-center align-items-center" style="background-color: #7d95e1; background-color: #d0e6f7; height: 30px; border-radius: 5px; ">
            <p class="text-center m-0" style="cursor: pointer;">{{ primary_column.replace('_', ' ') }}</p>
        </div>
        <hr>
        <form  id="dynamic-form" class="formContainer mt-5" action="{{ url_for('user.process', symptom=primary_column) }}" method="post" onsubmit="submitForm(event)">
            <div class="d-flex align-items-start justify-content-start flex-column text-start mt-3">
                <img src="{{ url_for('static', filename='images/medfc icon.png') }}" alt="medfc-icon" style="height: 30px; width: auto;"><br>
            </div>
            <h5><b>The following questions is a series of yes or no options. Kindly choose the suitable option</b></h5>
            <div id="questionsContainer">
                {% for question in user_specific_questions %}
                    
                    <div class="question-container" style="display: none;">
                        <h5><b>Do you experience {{ question.replace('_', ' ') }}?</b><i class="fa fa-info-circle text-primary" aria-hidden="true" style="cursor: pointer; margin-left: 5px;" data-bs-toggle="popover" title="{{ question.replace('_', ' ') }}"
                            data-bs-content="{{ symptom_descriptions.get(question, 'No description available') }}"></i>
                        </h5>
                        <div class="radio-container">
                            <input type="radio" name="{{question}}}}" id="yes_{{ loop.index }}" value="yes">
                            <label for="yes_{{ loop.index }}">Yes</label>
                        </div>
                        <div class="radio-container">
                            <input type="radio" name="{{question}}}}" id="no_{{ loop.index }}" value="no">
                            <label for="no_{{ loop.index }}">No</label>
                        </div>
                        <button class="nextButton mb-3" type="button" id="nextButton_{{loop.index}}" onclick="showNextQuestion({{loop.index}})">Next</button>
                    </div>
                {% endfor %}
            </div>
            <div id="submit-button" style="display: none;">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if details_of_prediction %}
    <div class="d-flex align-items-start justify-content-start flex-column text-start">
        <img src="{{ url_for('static', filename='images/medfc icon.png') }}" alt="medfc-icon" style="height: 30px; width: auto;"><br>
        <label for="symptom_search" style="font-size: larger;"><b>Which symptom bothers you most?</b></label><br>
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="background-color: #7d95e1; background-color: #d0e6f7; height: 30px; border-radius: 5px; ">
        <p class="text-center m-0" style="cursor: pointer;">{{ primary_column.replace('_', ' ') }}</p>
    </div>
    <hr>
    <div class="prediction-details">
        <h4>Prediction Details</h4>
        <p><strong>Prediction:</strong> {{ details_of_prediction.get('prediction') }}</p>
        <p><strong>Accuracy:</strong> {{ (details_of_prediction.get('accuracy', 0) * 100) | round(2) }}%</p>
        <p><strong>Description:</strong> {{ details_of_prediction.get('description', '') }}</p>
        <p><strong>Recommendation:</strong> {{ details_of_prediction.get('recommendation', '') }}</p>
        <a href="{{url_for('user.get_location')}}"><button class="findCare">Find care</button></a>
    </div>
    {% endif %}


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const questions = document.querySelectorAll('.question-container');
            if (questions.length > 0) {
                questions[0].style.display = 'block';
                questions[0].scrollIntoView({behavior: "smooth"})
                questions[questions.length - 1].querySelector('button').textContent = 'Submit';
                questions[questions.length - 1].querySelector('button').onclick = submitForm;
            }
        });
    </script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        });
    </script>
</body>
</html>
